MONGODB_URI=mongodb://localhost:27017/deskwise
PORT=5000
BETTER_AUTH_SECRET=your_secret_here
BETTER_AUTH_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000

MONGO_ADMIN_TOKEN=MISCONFIG{env_vars_exposed_in_production}
IMPORT_HMAC_SECRET=supersecrethmackey123